body {
  height: 100vh;
  margin: 50px 150px 50px 150px;
  font-family: 'Montserrat', sans-serif;
}

h1, h3 {
  font-family: 'Playfair Display', serif;
}

p {
  margin-left: 10px;
}

input {
  margin: 10px;
}

span {
  font-weight: bold;
}

label {
  font-size: 16px;
  width: 554px;
  display: inline-table;
}

.header-title {
  font-size: 48px;
  font-weight: 700;
}

.subheader {
  display: flex;
  width: 525px;
}

.sub-txt {
  font-size: 14px;
  font-weight: 500;
  position: relative;
  top: 18px;
  margin-left: 10px;
}

.header-img {
  margin-top: 50px;
  width: 100%;
}

.directions {
  display: flex;
  margin-top: 25px;
}

.ingredients-title, .instructions-title {
  font-size: 24px;
}

.ingredients-sub-title {
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  margin-left: 10px;
}

.number-box {
  height: 36px;
  width: 36px;
  padding: 0 5px 0 5px;
  text-align: center;
  background-color: #F2994A;
  color: white;
  border-radius: 5px;
  margin: 10px;
  flex-shrink: 0;
}

.number {
  position: relative;
  bottom: 6px;
  white-space: nowrap;
  padding: 0;
  margin: auto;
  line-height: 36px;
}

.numbered {
  display: flex;
  width: 528px;
}

.six {
  padding-top: 5px;
}

.steps {
  width: 216px;
  height: 367px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  position: relative;
  left: 225px;
  padding-bottom: 15px;
}

.step {
  display: flex;
  justify-content: center;
  line-height: 5px;
  align-items: center;
  margin: 40px 20px 20px 20px;
}

.step-title {
  text-transform: uppercase;
  font-size: 10px;
  color: #BDBDBD;
  font-weight: 700;
}

.step-sub {
  font-size: 14px;
  font-weight: 500;
}

.step-img {
  width: 38px;
  height: 36px;
}

.place {
  position: relative;
  right: 8px;
}

@media only screen and (max-width: 375px) {
  body {
  height: 100vh;
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
  }
  p {
  margin-left: 10px;
    font-size: 16px;
  }

  input {
    margin: 5px;
  }

  span {
    font-weight: bold;
  }

  label {
    font-size: 14px;
    width: 321px;
    display: inline-table;
  }

  .header-title {
    font-size: 24px;
    font-weight: 700;
  }

  .subheader {
    display: flex;
    width: 325px;
  }

  .sub-txt {
    font-size: 12px;
    font-weight: 500;
    position: relative;
    top: 30px;
    margin-left: 10px;
  }

  .header-img {
    margin-top: 50px;
    width: 100%
  }

  .directions {
    display: flex;
    margin-top: 25px;
    flex-direction: column-reverse;
  }

  .ingredients-title, .instructions-title {
    font-size: 18px;
  }

  .ingredients-sub-title {
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    margin-left: 0;
  }

  .instructions-title {
    font-size: 24px;
    font-weight: 700;
  }

  .number-box {
    height: 36px;
    width: 36px;
    padding: 0 5px 0 5px;
    text-align: center;
    background-color: #F2994A;
    color: white;
    border-radius: 5px;
    margin: 10px;
    flex-shrink: 0;
  }

  .number {
    position: relative;
    bottom: 6px;
    white-space: nowrap;
    padding: 0;
    margin: auto;
    line-height: 36px;
  }

  .numbered {
    display: flex;
    width: 300px;
  }

  .six {
    padding-top: 5px;
  }

  .steps {
  display: flex;
  width: 350px;
  height: 50px;
  box-shadow: none;
  border-radius: 0;
  position: relative;
  left: 0;
    margin-top: 15px;
  margin-bottom: 15px;
   flex-basis: 100%;
   flex-wrap: wrap;
  }

  .step {
    display: flex;
    justify-content: normal;
    line-height: 8px;
    align-items: center;
    margin: 0px 5px 0px 5px;

  }

  .break {
    width: 300px;
  }

  .step-title {
    text-transform: uppercase;
    font-size: 8px;
    color: #BDBDBD;
    font-weight: 700;
  }

  .step-sub {
    font-size: 10px;
    font-weight: 500;
  }

  .step-img {
    width: 38px;
    height: 36px;
  }

  .place {
    position: static;
  }
}
